[Unit]
Description=AT86RF215 UHF radio daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/uhf_daemon --config /etc/oresat/sat.toml --rx-port 10025 --tx-port 10016 --freq 402000000
